<meta name="author" content="Yee">
	<meta name="description" content="个人技术总结整理">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:site_name" content="随笔记录">
	<link href="https://nzfhh2nyg.qnssl.com/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://nzfhh2nyg.qnssl.com/css/fontdiao.css" media="screen" type="text/css">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed">
	<link rel="stylesheet" href="https://nzfhh2nyg.qnssl.com/css/style.css" media="screen" type="text/css">
	<link rel="stylesheet" href="https://nzfhh2nyg.qnssl.com/css/profile.css" media="screen" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://nzfhh2nyg.qnssl.com/css/tinysou.css">
	<!--[if lt IE 9]><script src="https://nzfhh2nyg.qnssl.com/js/html5.js"></script><![endif]-->