<footer id="footer" class="inner">
	<div class="alignleft">
		&copy; 2015 ITTECH Powered by PyPy and Tengine  <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备15051187号</a>  
		<script src="http://s95.cnzz.com/stat.php?id=1255970622&web_id=1255970622" language="JavaScript"></script>
	</div>
	<div class="clearfix">
	</div>
</footer>
<script type="text/javascript">
	var option = {
	  engineKey: 'd0108fb152b1edba2ba9'
	};
	(function(w,d,t,u,n,s,e){
	  s = d.createElement(t);
	  s.src = u;
	  s.async = 1;
	  w[n] = function(r){
		w[n].opts = r;
	  };
	  e = d.getElementsByTagName(t)[0];
	  e.parentNode.insertBefore(s, e);
	})(window,document,'script','//tinysou-cdn.b0.upaiyun.com/ts.js','_ts');
	_ts(option);
</script>
</body>
</html>