<header id="header" class="inner">
	<div class="alignleft">
		<h1><a href="/">随笔记录</a></h1>
		<h2>Code is poetry</h2>
	</div>
	<nav id="main-nav" class="alignright">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/topic/about.html">About</a></li>
			<li><a href="/topic/contact_me.html">Contact</a></li>
			<li><a href="/topic/how_build_this_blog.html">UseTech</a></li>
			<li><a href="/archives.html">Archives</a></li>
			<li><a href="/topic/links.html">Links</a></li>
		</ul>
		<div class="clearfix"></div>
	</nav>
<div class="clearfix"></div>
</header>