<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% if blog.metadata.get('Title') %}{{blog.metadata.get('Title')}} - {% endif %}随笔记录</title>
	{% include 'Light/css.htm' %}
</head>
<body>
{% include 'Light/nav.htm' %}
<div id="content" class="inner">
	<div id="main-col" class="alignleft">
		<div id="wrapper">
			<article class="post">
				<div class="post-content">
					<header>
						<div class="icon"></div>
						<time datetime="{{ blog.metadata.get('Date') }}">{{ blog.metadata.get('Date') }}</time>
						<h1 class="title">{{ blog.metadata.get('Title') }}</h1>
					</header>
					<div class="entry">
						{{ blog|safe }}
					</div>
					<footer>
						<!-- Duoshuo Comment BEGIN -->
						<div class="ds-thread"></div>
						<script type="text/javascript">
							var duoshuoQuery = {short_name:"xway"};
							(function() {
								var ds = document.createElement('script');
								ds.type = 'text/javascript';ds.async = true;
								ds.src = 'http://static.duoshuo.com/embed.js';
								ds.charset = 'UTF-8';
								(document.getElementsByTagName('head')[0] 
								|| document.getElementsByTagName('body')[0]).appendChild(ds);
							})();
						</script>
						<!-- Duoshuo Comment END -->
						<div class="clearfix"></div>
						<!-- Baidu Button BEGIN -->
						<div class="bdsharebuttonbox">
							<a href="#" class="bds_more" data-cmd="more"></a>
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
						</div>
						<script type="text/javascript">
							window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"32"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
						</script>
						<!-- Baidu Button END -->	
						<div class="clearfix"></div>
					</footer>
				</div>
			</article>
		</div>
	</div>
{% include 'Light/sidebar.htm' %}
<div class="clearfix"></div>
</div>
{% include 'Light/footer.htm' %}