<aside id="sidebar" class="alignright">
	<div class="widget profile-inner">
		<div class="base-info profile-block">
			<img id="avatar" alt="my pic" src="https://nzfhh2nyg.qnssl.com/3844cb94-d49e-46b5-baaf-28af6356adce.jpg" />
			<h2 id="name">River Locker King</h2>
			<h3 id="title">Back-end Developer</h3>
			<span id="location"><i class="fa fa-map-marker"></i>Beijing,China</span>
		</div>
		<!--<div class="article-info profile-block">
			<div class="article-info-block">
			74
			<span>posts</span>
			</div>
			<div class="article-info-block">
			1
			<span>tags</span>
			</div>
		</div>-->
		<div class="contact-info profile-block">
			<table class="contact-list">
				<tbody>
					<tr>
						<td><a href="https://github.com/assad2012" target="_blank" title="github"><i class="fa fa-github"></i></a></td>
						<td><a href="https://twitter.com/assad2008" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></td>
						<td><a href="https://www.facebook.com/assad2008" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></td>
						<td><a href="http://weibo.com/208080733" target="_blank" title="新浪微博"><i class="icon-weibo"></i></a></td>
						<td><a href="http://www.zhihu.com/people/assad" target="_blank" title="知乎"><i class="icon-zhihu"></i></a></td>
						<td><a href="/feed" target="_blank" title="rss"><i class="fa fa-rss"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="search">
		<form><input type="text" id="ts-search-input" placeholder="搜索文章" autocomplete="off" ></form>
	</div>
	<div class="widget">
		<iframe width="100%" height="800" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&amp;width=0&amp;height=800&amp;fansRow=1&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=1&amp;noborder=1&amp;isWeibo=1&amp;isFans=1&amp;uid=1294923650&amp;verifier=84b0ba61&amp;dpc=1"></iframe>
	</div>	
</aside>